<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessSearch.Properties.Settings.AddisTowerConnectionString"
            connectionString="Data Source=.;Initial Catalog=AddisTower;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>